@import url("../../public/css/variables.css");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-texto-xl);
  background-color: var(--cor-fundo);
  color: var(--cor-branca);
}

/* Header */
.admin-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px; /* Largura da sidebar */
  height: 100vh; /* Altura total da tela */
  background: var(--cor-secundaria);
  color: var(--cor-branca);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.admin-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.admin-nav {
  display: flex;
  flex-direction: column; /* Links na vertical */
  gap: 1rem;
  width: 100%;
}

.nav-link {
  color: var(--cor-cinza-claro);
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.75rem;
  border-radius: 5px;
  background: rgba(170, 37, 66, 0.1);
}

.nav-link.active {
  background: #3498db;
}

main {
  margin-left: 250px; /* Empurrando o conteúdo para a direita */
  padding: 2rem;
  width: calc(100% - 250px);
}

/* Form */
.recipe-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.375rem;
  color: var(--cor-cinza-claro);
}

.recipe-form {
  background-color: #324148;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.form-ingredients {
  background-color: #fff;
  color: #303030;
}

.form-control,
.form-select {
  background-color: #fff !important;
  height: 58px !important;
}

.form-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #2d3436;
  font-weight: 500;
}

.form-actions {
  margin-top: 1rem;
  text-align: right;
}

.form-group-ingredients {
  width: 100%;
  padding: 24px;
  margin-top: 20px;
  border-radius: 5px;
  color: var(--cor-cinza-claro);
}

.form-group-ingredients-input {
  display: flex;
  margin-top: 16px;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 24px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background: #919fa7;
}

input[type="file"] {
  padding: 0.5rem;
  background-color: transparent;
  color: gray;
}

.form-group-ingredients-upload {
  background: #d9d9d9;
  margin-left: 24px;
  border-radius: 5px;
  width: 500px;
}
textarea {
  resize: none;
  height: 100px;
}

.btn-salvar {
  background-color: #5ca379;
  color: var(--cor-branca);
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  margin-left: auto;
  display: block;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th,
td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background: #324148;
  color: var(--cor-branca);
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.btn-edit {
  background: #4dabf7;
  color: var(--cor-branca);
}

.btn-delete {
  background: #ff6b6b;
  color: var(--cor-branca);
}

/* Footer */
.admin-footer {
  font-size: 0.875rem;
  background: #162a34;
  color: var(--cor-branca);
  padding: 1.5rem 2rem;
  margin-top: auto;
}

.footer-content {
  padding-left: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-link {
  color: #3498db;
  text-decoration: none;
  transition: opacity 0.3s;
}

.author-link:hover {
  opacity: 0.8;
}

.text-color {
  color: var(--cor-branca);
}

/* Ajustes para telas pequenas */
@media (max-width: 768px) {
  .admin-header {
    width: 100%;
    height: auto;
    position: relative; /* Volta para o topo em telas pequenas */
  }

  .header-content {
    flex-direction: column;
  }

  .admin-nav {
    flex-direction: row; /* Torna a navegação horizontal */
    justify-content: center;
    flex-wrap: wrap;
  }

  .nav-link {
    padding: 0.5rem;
    font-size: 1rem;
  }

  main {
    flex: 1;
    padding-top: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
